<div class="AknFormContainer AknFormContainer--withPadding">
<div class="AknFormContainer">
    <div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label" for="logosize"><%- _.__('ibnab.form.config.group.pmanager.header_logo_width') %></label>
    </div>
    <div class="AknFieldContainer-inputContainer ibnab-system-logo-width-field">
            <input type="text" class="AknTextField" name="logosize" value="<%- logosize %>" />
    </div>
</div>
    <br />
<div class="AknFormContainer">
    <div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label" for="logoupload"><%- _.__('ibnab.form.config.group.pmanager.header_logo_image') %></label>
    </div>
    <div class="AknFieldContainer-inputContainer ibnab-system-logo-width-field">
            <input type="file" class="AknFileField" name="logoupload" />
            <span class="ibnab-system-logo-width-field-span"><b><%- logo_file %></b></span>
    </div>
</div>
 <br />
<div class="AknFormContainer">
    <div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label" for="titleheader"><%- _.__('ibnab.form.config.group.pmanager.header_title') %></label>
    </div>
    <div class="AknFieldContainer-inputContainer ibnab-system-header-title-field">
            <input type="text" class="AknTextField" name="titleheader" value="<%- titleheader %>" />
    </div>
</div>
 <br />
<div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label" for="textheader"><%- _.__('ibnab.form.config.group.pmanager.header_text') %></label>
        </div>
        <div class="AknFieldContainer-inputContainer ibnab-system-header-text-field">
            <textarea class="AknTextareaField" name="textheader"><%- textheader %></textarea>
        </div>
 </div>
 <br />
<div class="AknFormContainer">
    <div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label" for="marginheader"><%- _.__('ibnab.form.config.group.pmanager.header_margin') %></label>
    </div>

    <div class="AknFieldContainer-inputContainer ibnab-system-header-margin-field">
            <input type="text" class="AknTextField" name="marginheader" value="<%- marginheader %>" />
    </div>
</div>
 <br />
<div class="AknFormContainer">
    <div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label" for="marginfooter"><%- _.__('ibnab.form.config.group.pmanager.footer_margin') %></label>
    </div>

    <div class="AknFieldContainer-inputContainer ibnab-system-footer-margin-field">
            <input type="text" class="AknTextField" name="marginfooter" value="<%- marginfooter %>" />
    </div>
</div>
</div>